<%- include('includes/head', { pageTitle: '錯誤發生！' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main class="error-main">
    <h1>沒有管理員權限</h1>
    <p>不好意思，你沒有管理員權限訪問此頁面。</p>
    <p><a class="error-backhome-a" href="/">回首頁</a></p>
  </main>
<%- include('includes/footer') %>