<%- include('includes/head', { pageTitle: '錯誤發生！' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main class="error-main">
    <h1>無法讀取頁面</h1>
    <p>不好意思，找不到頁面</p>
    <p><a class="error-backhome-a" href="/">回首頁</a></p>
  </main>
<%- include('includes/footer') %>