<%- include('includes/head', { pageTitle: '錯誤發生！' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main class="error-main">
    <h1>好像哪邊出錯了！</h1>
    <p>不好意思，好像哪邊出錯了，請稍後再試！</p>
    <p><a class="error-backhome-a" href="/">回首頁</a></p>
  </main>
<%- include('includes/footer') %>