<%- include('includes/head', { pageTitle: '什麼是火狼祭？' }) %>
<link rel="stylesheet" href="/styles/about.css">


</head>
<body>
  <%- include('includes/header') %>
  <main class="">
   <h1>什麼是火狼祭？</h1>
   <article class="about-article">
    <h2>多元文化、藝術表現、親子時光、戶外活動</h2>

    <p>
        火狼祭始於一群年輕人，曾旅行國外，參與火人祭、篝火節等活動，深受活動人事物，以及交流經驗感動。因此決定將活動精神與文化帶回台灣。
    </p>
    <p>
        火狼祭活動中，你可以享受樂團表演，感受不同類型樂曲的感官刺激，也可以透過大地遊戲、工作坊，認識新事物及新朋友。
        可以遠離平常居住環境，沉浸戶外大自然的愉悅，也許小酌一杯，也許隨著熱音搖擺，也許單純享受露營時光。
    </p>
    <p>
        火狼祭最高潮的活動，便是在最後一天晚上，燃放巨型狼形木像，群眾圍觀，聽著燃燒木頭的劈啪聲、空氣瀰漫木頭燃燒的焦香。
    </p>
    <p>
        為什麼選擇狼作為主題？
    </p>
    <p>
        狼在許多圖騰信仰中，象徵著力量、智慧、自由、連結、家庭等意義，藉由燃放木橡，像是傳統宗教儀式般，透過焰火傳達祈禱、祝福。
        <br>
        希望來參與的民眾，能在短短的活動期間，找到屬於自己的快樂。
    </p>
    <p>
        要參閱火狼祭相關資訊，可以從以下連結：
    </p>
    <ul class="page-link-ul">
        <a href="/ticket"><li>購票資訊看這裡</li></a>
        <a href="/timetable"><li>活動內容看這裡</li></a>
        <a href="/trafficguide"><li>交通資訊看這裡</li></a>
        <a href="/productlist"><li>周邊商品看這裡</li></a>
    </ul>
   </article>

  

  </main>
<%- include('includes/footer') %>