<%- include('includes/head', { pageTitle: '什麼是火狼祭？' }) %>
<link rel="stylesheet" href="/styles/about.css">


</head>
<body>
  <%- include('includes/header') %>
  <main class="">
   <h1>跳轉至綠界</h1>
   
    <%- htm %>
   

  

  </main>
<%- include('includes/footer') %>