<%- include('includes/head', { pageTitle: '常見問題' }) %>
<link rel="stylesheet" href="/styles/QA.css">
<script src="/scripts/qa-toggle.js" defer></script>
</head>
<body>
  <%- include('includes/header') %>
  <main class="">

    <h1>常見問題</h1>

    <section class="question-item">
        <div href="" class="question-toggle-btn">
            <h3>請問參加火狼祭有年齡限制嗎？</h3><span><i class="arrow right"></i></span>
        </div>
        <div class="question-toggle-area">
            <p>火狼祭沒有年齡限制，歡迎親子一同前往。12 歲以下（含）孩童免票，須由一名以上已購票成人陪同如場。</p>
        </div>
    </section>
    <section class="question-item">
        <div href="" class="question-toggle-btn">
            <h3>哪裡可以購票呢？</h3><span><i class="arrow right"></i></span>
        </div>
        <div class="question-toggle-area">
            <p>目前購票僅能透過官網此頁面選購。付款方式為信用卡。
                <br>
            票券為電子票券，線上刷卡付款成功後，系統會寄送電子郵件，入場時請出示該郵件，活動入口處工作人員將會核對。</P>
        </div>
    </section>
    <section class="question-item">
        <div href="" class="question-toggle-btn">
            <h3>關於退票、補票的問題？</h3><span><i class="arrow right"></i></span>
        </div>
        <div class="question-toggle-area">
            <p>退票作業</p>
            <br>
            <p>
                需於購票三天內辦理，請寄送退票申請至火狼祭官方電子郵件：BurningWolf@net.com。 
                <br>
                工作人員將依電子郵件發信時間、信用卡交易成功時間為核對基準。
            </p>
                <br>
            <p>補票作業</p>
            
            <br>
            <p>
                
                票券為電子票券，若誤刪或是沒收到購票成功電子郵件通知，請聯絡火狼祭官方，電子郵件：BurningWolf@net.com。 
                <br>
                補票作業僅能在活動當日前申請，逾時恕不補發。
            </p>
        </div>
    </section>
    <section class="question-item">
        <div href="" class="question-toggle-btn">
            <h3>一定兩天都要參加嗎？</h3><span><i class="arrow right"></i></span>
        </div>
        <div class="question-toggle-area">
            <p>
                若只要參加其中一天，可以選擇購買當日票。
                <br>
                當日票只能於當天使用。
            </p>
        </div>
    </section>
    <section class="question-item">
        <div href="" class="question-toggle-btn">
            <h3>需要準備露營用具嗎？</h3><span><i class="arrow right"></i></span>
        </div>
        <div class="question-toggle-area">
            <p>
                有提供帳棚承租服務，需到場後跟工作人員申請，帳篷承租需另收費用。
                <br>
                亦可以自行準備帳篷。帳棚棚位需於現場報到後登記，採先到先選制。
                <br>
                若是購買兩天一夜票種，棚位費用已包含在門票。
            </p>
        </div>
    </section>
    <section class="question-item">
        <div href="" class="question-toggle-btn">
            <h3>烤肉需要準備食材以及用具嗎？</h3><span><i class="arrow right"></i></span>
        </div>
        <div class="question-toggle-area">
            <p>
                為維護現場環境、食品衛生，我們提供外包代烤，烤肉採自助式拿取，不需另外準備。
                <br>
                若是購買當日票種，烤肉費用不包含在門票，
                若要使用烤肉服務，需於報到時跟工作人員申請並額外付費。
                <br>
                若是購買兩天一夜票種，烤肉費用已包含在門票。
            </p>
        </div>
    </section>
    <section class="question-item">
        <div href="" class="question-toggle-btn">
            <h3>可以帶寵物去嗎？</h3><span><i class="arrow right"></i></span>
        </div>
        <div class="question-toggle-area">
            <p>
                根據場地使用規定，寵物可以進入風景區。
                <br>
                請需留意，以下區域禁止寵物進入：
                <br>
                1. 親水公園內游泳池
                <br>
                2. 八田與一紀念園區日式建物內部
                <br>
                3. 紀念室、各販賣部等室內建築

            </p>
        </div>
    </section>
    <section class="question-item">
        <div href="" class="question-toggle-btn">
            <h3>現場消費有哪些支付方式？</h3><span><i class="arrow right"></i></span>
        </div>
        <div class="question-toggle-area">
            <p>
                現場皆採現金支付。
            </p>
        </div>
    </section>
    <section class="question-item">
        <div href="" class="question-toggle-btn">
            <h3>現場有販售周邊商品嗎？</h3><span><i class="arrow right"></i></span>
        </div>
        <div class="question-toggle-area">
            <p>
                現場會有火狼祭官方攤位，只販售當年度周邊商品，若需選購歷年周邊商品，可至官網商城。
            </p>
        </div>
    </section>

  
  

  </main>
<%- include('includes/footer') %>