<%- include('includes/head', { pageTitle: '交易成功' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main class="paySuccess-main">
    <h1>交易成功！！</h1>
    <p></p>
    <p><a class="error-backhome-a" href="/">回首頁</a></p>
  </main>
<%- include('includes/footer') %>