<%- include('includes/head', { pageTitle: '活動時刻表' }) %>
<link rel="stylesheet" href="/styles/timetable.css">
</head>
<body>
  <%- include('includes/header') %>
  <main class="">
    <h1>活動時刻表</h1>
    <div class="table-bg-div">
        <div class="table-container">
            <div class="first-day-title"><h2>第一天</h2>
            </div>
            <div class="first-day-content-1">
                <p>0900 - 1000</p>
                <p>參與者報到、現場報名</p>
            </div>
            <div class="first-day-content-2"> 
                <p>1000 - 1200</p>
                <p>開幕式</p>
                <p>開幕表演活動</p>
                <p>火狼揭幕</p>
            </div>

            <div class="first-day-content-3"> 
                <p>1330 - 1430</p>
                <p>樂團A表演</p>
            </div>
            
            <div class="first-day-content-4"> 
                <p>1500 - 1600</p>
                <p>樂團B表演</p>
            </div>

            <div class="first-day-content-5"> 
                <p>1630 - 1730</p>
                <p>樂團C表演</p>
            </div>
            <div class="first-day-content-6"> 
                <p>1800 - 2000</p>
                <p>晚餐時光 - 烤肉</p>
            </div>
            <div class="first-day-content-7"> 
                <p>2030 - 2130</p>
                <p>DJ表演活動</p>
            </div>
            <div class="first-day-content-8"> 
                <p>2200 - 2400</p>
                <p>星光露天電影</p>
            </div>





            <div class="title-time">
                <h2>時間</h2>
            </div>
            <div class="time-1">
                <p >08:00</p>
            </div>
            <div class="time-2">
                <p>08:30</p>
            </div>
            <div class="time-3">
                <p>09:00</p>
            </div>
            <div class="time-4">
                <p>09:30</p>
            </div>
            <div class="time-5">
                <p>10:00</p>
            </div>
            <div class="time-6">
                <p>10:30</p>
            </div>
            <div class="time-7">
                <p>11:00</p>
            </div>
            <div class="time-8">
                <p>11:30</p>
            </div>
            <div class="time-9">
                <p>12:00</p>
            </div>
            <div class="time-10">
                <p>12:30</p>
            </div>
            <div class="time-11">
                <p>13:00</p>
            </div>
            <div class="time-12">
                <p>13:30</p>
            </div>
            <div class="time-13">
                <p>14:00</p>
            </div>
            <div class="time-14">
                <p>14:30</p>
            </div>
            <div class="time-15">
                <p>15:00</p>
            </div>
            <div class="time-16">
                <p>15:30</p>
            </div>
            <div class="time-17">
                <p>16:00</p>
            </div>
            <div class="time-18">
                <p>16:30</p>
            </div>
            <div class="time-19">
                <p>17:00</p>
            </div>
            <div class="time-20">
                <p>17:30</p>
            </div>
            <div class="time-21">
                <p>18:00</p>
            </div>
            <div class="time-22">
                <p>18:30</p>
            </div>
            <div class="time-23">
                <p>19:00</p>
            </div>
            <div class="time-24">
                <p>19:30</p>
            </div>
            <div class="time-25">
                <p>20:00</p>
            </div>
            <div class="time-26">
                <p>20:30</p>
            </div>
            <div class="time-27">
                <p>21:00</p>
            </div>
            <div class="time-28">
                <p>21:30</p>
            </div>
            <div class="time-29">
                <p>22:00</p>
            </div>
            <div class="time-30">
                <p>22:30</p>
            </div>
            <div class="time-31">
                <p>23:00</p>
            </div>
            <div class="time-32">
                <p>23:30</p>
            </div>
            <div class="time-33">
                <p>24:00</p>
            </div>


            <div class="second-day-title">
                <h2>第二天</h2>
            </div>
            <div class="second-day-content-1">
                <p>0830 - 0900</p>
                <p>早餐時間</p>
            </div>
            <div class="second-day-content-2">
                <p>0900 - 1000</p>
                <p>手作工坊</p>
            </div>
            <div class="second-day-content-3">
                <p>1030 - 1230</p>
                <p>大地遊戲</p>
            </div>
            <div class="second-day-content-4">
                <p>1330 - 1630</p>
                <p>創意市集</p>
            </div>
            <div class="second-day-content-5">
                <p>1700 - 1800</p>
                <p>公益摸彩活動</p>
            </div>
            <div class="second-day-content-6">
                <p>1900 - 2100</p>
                <p>祈福活動</p>
                <p>火狼燃放</p>
            </div>

        </div>

    </div>
   



  </main>
<%- include('includes/footer') %>