<%- include('includes/head', { pageTitle: '交通方式' }) %>
<link rel="stylesheet" href="/styles/trafficguide.css">

<script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      key: "AIzaSyCLIESBZ3vFtLYOtc8AcV99bLT4LQXpvAM",
      // Add other bootstrap parameters as needed, using camel case.
      // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
    });
  </script>
  <script src="/scripts/map.js" defer></script>
</head>
<body>
  <%- include('includes/header') %>
  <main class="">
   <h1>交通方式</h1>
   

   
    <section class="traffic-guide-section">
        <div id="map" class="traffic-guide-info-div">
        </div>
        <div class="traffic-guide-info-div">
            <section class="traffic-guide-info-section">
                <h3>活動地點</h3>
                <p>烏山頭水庫風景區</p>
                <h3>地址</h3>
                <p>720台南市官田區八田路三段500號</p>
            </section>
            <h3>大眾運輸</h3>
            <ul class="traffic-guide-info-ul">
                <li>
                    <h4>搭乘高鐵</h4>
                    <p>台灣高鐵台南站下車，並建議轉乘計程車，計程車車程約 40 分鐘。</p>
                </li>
                <li>
                    <h4>搭乘台鐵</h4>
                    <p>台鐵隆田站下車，並建議轉乘計程車，計程車車程約 15 分鐘。</p>
                </li>
                <li>
                    <h4>搭乘客運（興南客運 橘4）</h4>
                    <p>善化轉運站往烏山頭水庫，到站步行時間約 30 分鐘</p>
                </li>
            </ul>
            <h3>自行開車</h3>
            <ul class="traffic-guide-info-ul">
                <li>南下：南二高 329.7 公里處下烏山頭交流道（六甲、官田交流道）往烏山頭水庫方向約 2 分鐘可到達。</li>
                <li>北上：行至 331 公里處下烏山頭交流道（六甲、官田交流道）往烏山頭水庫方向約 2 分鐘可到達。</li>
            </ul>
        </div>
    </section>
  

  </main>
<%- include('includes/footer') %>