<article id="<%= posts.id %>">
    <div  class="dateAndBtn">
        <h4><%= posts.date %></h4>
    </div>

    <h3 ><%= posts.title %></h3>
    <p class="post-content"><%= posts.content %></p>


</article>